.bread
	= link_to "Home", root_path
	>
	= link_to @listing.title.capitalize, listing_path(@listing)
	>
	Edit an Item

.row
	.col-md-8
		#rent
			.rent-title
				%p Edit an Item

			.rent-content
				= render 'form'
				
			.rent-footer
				%p
				= link_to "Back", :back
	.col-md-4

.foot-space.hidden-md.hidden-lg