.container	
	.bread
		= link_to "Home", root_path
		>
		Rent an Item

	= render "layouts/flash"

	.row
		.col-md-8
			#rent
				.rent-title
					%p Rent an Item

				.rent-content
					= render 'form'

				.rent-footer
					%p
					= link_to "Back", :back
		.col-md-4

	.foot-space.hidden-md.hidden-lg