.bread
	= link_to "Home", root_path
	>
	Rent an Item

.row
	.col-md-8
		#rent
			.rent-title
				%p Rent an Item

			.rent-content
				= render 'form'

			.rent-footer
				%p
				= link_to "Back", :back