.container
	.bread
		= link_to "Home", root_path
		>
		How to rent
	= render "layouts/flash"
	.row
		.col-md-8
			#pages-section
				.verify-title 
					%p How To Rent
				%p
					%strong
						How To Give On Rent
				%ol
					%li
						You must have an account in order to rent an item. So create an account by clicking Sign up. It only takes few seconds. If you already have an account Sign in to Mrentz.
					%br
					%li
						Click on "Rent An Item" button and fill all the required fields.
					%br
					%li
						Select appropriate category and subcategory which helps buyers to find your product easily.
					%br
					%li
						Atleast upload one image of your product.
					%br
					%li
						Give a nice title & description to your product.
					%br
					%li
						Enter your city and locality.
					%br
					%li
						Make sure to enter terms ans security deposit if any.
					%br
					%li
						Post your product
					%br
					%li
						Interested parties can get in touch with you. Mrentz is not responsible to any damage caused by either party.
					%br
				%p
					%strong
						How To Take On Rent
				%ol
					%li
						Search any product or you can go through our categories & sobcategories.
					%br
					%li 
						Select the item which is near your locality.
					%br
					%li
						Contact the product owner.
					%br

				%p.text-center
					%strong
						Happy Renting !!

		= render "layouts/sidemenu"

	.foot-space

