- title "Mrentz | Contact us"
.container
	.bread
		= link_to "Home", root_path
		>
		Contact us
	= render "layouts/flash"
	.row
		.col-md-4
			.text-center
				= render "layouts/flash"
			#rent
				.rent-title
					%p Say Hello!

				.rent-content
					%h3 Thank you for your message!
					%p We'll get back to you soon.

		.col-md-4
		= render "layouts/sidemenu"
	.foot-space     


