
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require parsley
 *= require material_icons
 *= require social-share-button
 *= require_self
 *= require jquery-ui
 */

@import "bootstrap-sprockets";
@import "bootstrap";

@import 'grid-ms';
@import 'media';

@import 'normalize';


$yellow: #FFCD33;
$black: #000;
$light-black: #808080;
$light-yellow: #FFE066;
$blue: #2AB9C7;
$light-blue: #43E0E8;
$grey: #E6E6E6;
$light-grey: #EEEEEE;
$dark-grey: #888;
$red: #a94442;
$red-border: #ebccd1;
$green: #3c763d;
$green-border: #D6E9C6;
$links: #337AB7;
$new: #0F2231;
$blue-grey: #8b8b9f;


@font-face {
  font-family: "hightide";
  src: url(/assets/HighTide.otf) format("truetype");
}

@font-face {
  font-family: "regular";
  src: url(/assets/regular.ttf) format("truetype");
}

@font-face {
  font-family: "light";
  src: url(/assets/light.ttf) format("truetype");
}

@font-face {
  font-family: "raleway-bold";
  src: url(/assets/Raleway-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "regular";
  src: url(/assets/OpenSans-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "light";
  src: url(/assets/OpenSans-Light.ttf) format("truetype");
}

@font-face {
  font-family: "bold";
  src: url(/assets/OpenSans-Bold.ttf) format("truetype");
}

html {
  position: relative;
  min-height: 100%;
}

html, body {
  font-family: "regular";
}

body, a {
  color: $new;
}


.bread {
  padding: 3em 0 1.5em 0;
  font-family: "regular";
  color: $blue-grey;
  a {
    color: $blue-grey;
    &:hover, &:focus {
      color: $yellow;
      text-decoration: none;
    }
  }  
}

.foot-space {
  margin-bottom: 30px;
}

.clearfix:before,.clearfix:after{content:" ";display:table}.clearfix:after{clear:both}

ul#ui-id-1.ui-autocomplete.ui-front.ui-menu.ui-widget.ui-widget-content{
  li {
    font-family: "regular";
    color: $black;
  }
  .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
      color: #ffffff;
      background-color: $blue !important;
      background: transparent;
      border: none;
  }
}

ul#ui-id-2.ui-autocomplete.ui-front.ui-menu.ui-widget.ui-widget-content{
  li {
    font-family: "regular";
    color: $black;
  }
  .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
      color: #ffffff;
      background-color: $blue !important;
      background: transparent;
      border: none;
  }
}

#navbar-customise {
  padding: 1.5em 0;
  background-color: white;
  border-color: $grey;
  text-transform: uppercase;
  .navbar-collapse {
    border: none;
  }
  .navbar-brand a {
    font-size: 1.15em;
    font-weight: 700; 
    letter-spacing: 1px; 
    span {
      font-family: "hightide";
      font-weight: 300;
      color: $yellow;
      margin-right: -7px;
    }
    &:hover, &:focus {
      color: $black;
      text-decoration: none;
    } 
  }
  .navbar-nav li a {
    padding-top: 10px;
    padding-bottom: 10px;
  } 
  .navbar-right {
    margin-top: 5px;
    a {
    color: $blue-grey;
    font-size: 1em;
    outline: none;
    text-transform: capitalize;
    }
   } 
  .nav-others a:hover, .nav-others a:focus {
    color: $yellow;
    }
  .post {
    background-color: $yellow;
    a {
      color: white;
      font-weight: 700;
    }
    &:hover, &:focus {
      background-color: $light-yellow;
      a {
        color: white;
      }
    }
  }
}


#search-section {
  background-image: url("blur.jpg");
  background-size: cover;
  background-color: $new;
  font-family: "light";
  text-align: center;
  .form-group {
    position: relative;
    input {
     text-indent: 20px;
    }
    .form-control {
      border-radius: 0px;
      margin-right: -4px;
      border: 1px solid $grey;
      color: $black;
    }
    .material-icons {
      position: absolute;
      top: 8px;
      left: 10px;
      color: $black;
    }
    select {
    background: url(down_arrow.png) no-repeat right;
    background-color: white;
    appearance:none;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    cursor: pointer;
    }
  }
  .btn {
    border-radius: 0px;
    background-color: $blue;
    color: white;
    font-family: "regular";
    border-color: $blue;
    &:hover, &:focus, &:active {
      outline: none;
      background-color: $light-blue;
    }
  }
}

#search-section.home {
  padding-top: 2em;
  padding-bottom: 2.5em;
  h1 {
    color: white;
    font-size: 3em;
    font-weight: 700;
    text-transform: capitalize;
  }
  h3 {
    color: white;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
    font-size: 2em;
  }
  h4 {
    color: white;
    margin-top: 20px;
    letter-spacing: 3px;
  }
}

#flash-section {
  margin-top: 15px;
  font-family: "regular";
  .alert {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    display: -webkit-inline-box;
  }
  .close {
    margin-left: 10px;
    font-size: 25px;
    line-height: 0.7;
    color: #474E5D;
    opacity: 0.5;
  }
}

#category-section {
  padding: 3em 0;
  .header {
    padding: 0 0 1.5em 0;
    h2 {
      font-family: "regular";
      display: inline;
      font-size: 1.75em;
    }
  }
  .category-tiles {
    .name {
      margin-bottom: 10px;
    }
  }
 .panel-heading {
    border-color: $new;
    background-color: $new;
  }
  .panel-heading a {
    font-family: "regular";
    color: white;
  }
  .panel-body {
    padding: 0px;
  }
  .panel-default:hover, .panel-default:focus {
      border-color: $yellow;
      box-shadow: 4px 4px 10px $light-black;
      .panel-heading {
        border-color: $yellow;
        background-color: white;
        a {
          color: $yellow;
          text-decoration: none;
        }
      }
  }
  .ads-section {
    background-color: $grey;
  }
}

#top-rated, #new-items {
  .image-fit {
    background-color: $new;
    height: 200px;
    display: table-cell;
    vertical-align: middle;
    width: 1%;
    border-radius: 6px;
    img {
      margin: auto;
    }
  }
  border-top: 1px solid $grey;
  padding: 3em 0;
  .header {
    padding: 0 0 1.5em 0;
    h2 {
      font-size: 1.75em;
      display: inline;
      font-family: "regular";
    }
    .view-more {
      float: right;
      font-size: .9em;
      margin: .75em 0 0 0;
      display: inline;
      a {
        color: $blue-grey;
        &:hover, &:focus {
          color: $yellow;
          text-decoration: none;
        }
      }
    }
  }
  .details {
    h3 {
      font-size: 1.25em;
      /*margin: 1em 0 0 0;*/
      text-transform: capitalize;
      a {
        color: $new;
        &:hover, &:focus {
          text-decoration: none;
          color: $yellow;
        }
      }
    }
    p {
      font-size: .8em;
      color: $blue-grey;
      margin: 0.5em 0;
    }
  }
}

#new-list {
  padding-bottom: 3em;
  .nav-pills > li > a {
    border-bottom: 2px solid $grey;
    border-radius: 0px;
    &:hover, &:focus {
      color: $blue;
    }
  }
  .nav-pills > li.active > a {
    color: $black;
    background-color: transparent;
    border-bottom: 2px solid $blue;
  }
  .image-fit {
    background-color: $new;
    height: 200px;
    display: table-cell;
    vertical-align: middle;
    width: 1%;
    border-radius: 6px;
    img {
      margin: auto;
    }
  }
  .details {
    h3 {
      font-size: 1.25em;
      /*margin: 1em 0 0 0;*/
      text-transform: capitalize;
      a {
        color: $new;
        &:hover, &:focus {
          text-decoration: none;
          color: $yellow;
        }
      }
    }
    p {
      font-size: .8em;
      color: $blue-grey;
      margin: 0.5em 0;
    }
  }
  .pagination > li > a, .pagination > li > span {
    color: $blue;
  }
  .pagination > .disabled > span {
    color: #777;
  }
  .pagination > .active > span {
    color: #fff;
    background-color: $blue;
    border-color: $blue;
  }
}

.content {
  margin-top: 6.6em;
}

#sign_up, #sign_in, #forgot {
  font-family: "regular";
  .sign-up-title, .sign-in-title , .forgot-title{
    text-align: center;
    p {
      text-transform: capitalize;
      margin-top: 20px;
      margin-bottom: 20px;
      padding-bottom: 15px;
      font-size: 1.75em;
      border-bottom : 1px solid $grey;
      color:$blue;
    }
  }
  .sign-up-content, .sign-in-content {
    .form-control {
      border: 1px solid $grey;
    }
    abbr[title], acronym[title] {
      border-bottom: none;
      text-decoration: none;
    }
    .help-block {
      margin-left: 8px;
      color: $blue-grey;
      font-size: .9em;
    } 
    .parsley-errors-list {
      margin-left: 8px;
      padding-top: 3px;
      li {
        color: $red;
      }
    }
    .checkbox label {
      color: $blue-grey;
    }
    button.hideShowPassword-toggle.hideShowPassword-toggle-show , button.hideShowPassword-toggle.hideShowPassword-toggle-hide {
      background-color: transparent;
      border: none;
      font-size: 15px;
      text-transform: lowercase;
      font-variant: small-caps;
      outline: 0px;
    }
    input:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px white inset;
    }
    input.parsley-error, select.parsley-error, textarea.parsley-error {
      border: 1px solid $red;
      color: $red;
      background-color: transparent;
      &:focus {
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.4);
      }
    }
    input.parsley-success, select.parsley-success, textarea.parsley-success {
      border: 1px solid $green;
      color: $green;
      background-color: transparent;
      &:focus {
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 255, 0, 0.4);
      }
    }
    .form-action {
      .btn {
        color: white;
        background-color: $yellow;
        padding: .5em 1em;
        text-transform: capitalize;
        font-weight: bold;
        border: none;
        &:hover, &:focus {
          background-color: $light-yellow;
          border: none;
          outline: 0px;
        }
      }
    }
    .terms {
      text-align: center;
      color: $blue-grey;
      font-size: .9em;
      padding-top: 10px;
      a {
        color: $yellow;
      }
    }
  }
  .forgot-content {
    .form-control {
      border: 1px solid $grey;
    }
    abbr[title], acronym[title] {
      border-bottom: none;
      text-decoration: none;
    }
    .help-block {
      margin-left: 8px;
      color: $blue-grey;
      font-size: .9em;
    } 
    .parsley-errors-list {
      margin-left: 8px;
      padding-top: 3px;
      li {
        color: $red;
      }
    }
    input:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px white inset;
    }
    input.parsley-error, select.parsley-error, textarea.parsley-error {
      border: 1px solid $red;
      color: $red;
      background-color: transparent;
      &:focus {
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.4);
      }
    }
    input.parsley-success, select.parsley-success, textarea.parsley-success {
      border: 1px solid $green;
      color: $green;
      background-color: transparent;
      &:focus {
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 255, 0, 0.4);
      }
    }
    .form-action {
      .btn {
        color: white;
        background-color: $yellow;
        padding: .5em 1em;
        text-transform: capitalize;
        font-weight: bold;
        border: none;
        &:hover, &:focus {
          background-color: $light-yellow;
          border: none;
          outline: 0px;
        }
      }
    }
  }
  .sign-up-footer {
    text-align: center;
    a {
      display: block;
      margin-top: 10px;
      border-top : 1px solid $grey;
      padding-top: 15px;
      &:hover, &:focus {
        color: $yellow;
        text-decoration: none;
      }
    }

  }
  .sign-in-footer, .forgot-footer {
    text-align: center;
    margin-top: 20px;
    border-top : 1px solid $grey;
    padding-top: 15px;
    a {
      &:hover, &:focus {
        color: $yellow;
        text-decoration: none;
      }
    }
  }
}

#edit {
  font-family: "regular";
  .edit-title{
    p {
      text-transform: capitalize;
      margin-bottom: 20px;
      padding-bottom: 15px;
      font-size: 1.75em;
      border-bottom : 1px solid $grey;
      color:$blue;
    }
  }
  .edit-content {
    .form-control {
      border: 1px solid $grey;
    }
    abbr[title], acronym[title] {
      display: none;
    }
    .help-block {
      margin-left: 8px;
      color: $blue-grey;
      font-size: .9em;
    } 
    .parsley-errors-list {
      margin-left: 8px;
      padding-top: 3px;
      li {
        color: $red;
      }
    }
    label {
      font-weight: normal;
    }
    button.hideShowPassword-toggle.hideShowPassword-toggle-show , button.hideShowPassword-toggle.hideShowPassword-toggle-hide {
      background-color: transparent;
      border: none;
      font-size: 15px;
      text-transform: lowercase;
      font-variant: small-caps;
      outline: 0px;
    }
    input:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px white inset;
    }
    input.parsley-error, select.parsley-error, textarea.parsley-error {
      border: 1px solid $red;
      color: $red;
      background-color: transparent;
      &:focus {
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.4);
      }
    }
    input.parsley-success, select.parsley-success, textarea.parsley-success {
      border: 1px solid $green;
      color: $green;
      background-color: transparent;
      &:focus {
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 255, 0, 0.4);
      }
    }
    .form-action {
      .btn {
        color: white;
        background-color: $yellow;
        padding: .5em 1em;
        text-transform: capitalize;
        font-weight: bold;
        border: none;
        &:hover, &:focus {
          background-color: $light-yellow;
          border: none;
          outline: 0px;
        }
      }
    }
  }
  .edit-footer {
    margin-top: 20px;
    border-top : 1px solid $grey;
    padding-top: 15px;
    a {
      &:hover, &:focus {
        color: $yellow;
        text-decoration: none;
      }
    }
  }
}

#rent {
  .thumbnail {
    background-color: $new;
  }
  .rent-title{
    p {
      text-transform: capitalize;
      margin-bottom: 20px;
      padding-bottom: 15px;
      font-size: 1.75em;
      border-bottom : 1px solid $grey;
      color:$blue;
    }
  }
  .rent-content {
    .well {
      border-color: $light-grey;
    }
    .form-control {
      border: 1px solid $grey;
    }
    .add_fields {
      background-color: $blue;
      color: white;
      font-family: "regular";
      border-color: $blue;
      &:hover {
        outline: none;
        background-color: $light-blue;
      }
    }
    select {
      background: url(down_arrow.png) no-repeat right;
      appearance:none;
      -moz-appearance:none; /* Firefox */
      -webkit-appearance:none; /* Safari and Chrome */
      cursor: pointer;
    }
    abbr[title], acronym[title] {
      display: none;
    }
    label.required:after{content:"*"}
    p.required:after{content:"*"}
    .help-block {
      margin-left: 8px;
      color: $blue-grey;
      font-size: .9em;
    } 
    .parsley-errors-list {
      margin-left: 8px;
      padding-top: 3px;
      li {
        color: $red;
      }
    }
    label {
      font-weight: normal;
    }
    .radio-style {
      label {
        padding-left: 3px;
        padding-right: 15px;
      }
    }
    #security-amount {
      display: none;
    }
    #parsley-id-multiple-listingsecurity {
      margin-top: -20px;
      margin-bottom: 15px;
    }
    input:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px white inset;
    }
    input.parsley-error, select.parsley-error, textarea.parsley-error {
      border: 1px solid $red;
      color: $red;
      background-color: white;
      &:focus {
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.4);
      }
    }
    input.parsley-success, select.parsley-success, textarea.parsley-success {
      border: 1px solid $green;
      color: $green;
      background-color: white;
      &:focus {
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 255, 0, 0.4);
      }
    }
    .post {
      color: white;
      background-color: $yellow;
      padding: .5em 1em;
      text-transform: capitalize;
      font-weight: bold;
      border: none;
      &:hover, &:focus {
        background-color: $light-yellow;
        border: none;
        outline: 0px;
      }
    }
    .price-div {
      .time {
        visibility: hidden;
      }
      .price-input {
        padding-right: 0px;
        .form-control {
          border-top-right-radius: 0px;
          border-bottom-right-radius: 0px;
        }
      }
      .p-input {
        padding-right: 0px;
        padding-left: 0px;
        .form-control {
          border-radius: 0px;
          text-align: center;
          background-color: $grey;
        }
      }
      .per-input {
        padding-left: 0px;
        .form-control {
          border-top-left-radius: 0px;
          border-bottom-left-radius: 0px;
        }
      }
    }
  }
  .rent-footer {
    margin-top: 20px;
    border-top : 1px solid $grey;
    padding-top: 15px;
    a {
      &:hover, &:focus {
        color: $yellow;
        text-decoration: none;
      }
    }
  }
}

#verify-section {
  font-family: "regular";
  h3 {
    display: none;
  }
  .verify-title{
    p {
      text-transform: capitalize;
      margin-bottom: 20px;
      padding-bottom: 15px;
      font-size: 1.75em;
      border-bottom : 1px solid $grey;
      color:$blue;
    }
  }
  .light {
    color: $blue-grey;
  }
  .blue {
    color: $blue;
  }
  a {
    text-decoration: underline;
    &:hover, &:focus {
      color: $yellow;
      text-decoration: underline;
    }
  }
  .help-block {
    margin-left: 8px;
  } 
  .parsley-errors-list {
      margin-left: 8px;
      padding-top: 3px;
      li {
        color: $red;
      }
    }
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
  }
  button {
      background-color: $yellow;
      display: inline-block;
      margin-bottom: 5px;
      text-align: center;
      vertical-align: middle;
      touch-action: manipulation;
      cursor: pointer;
      background-image: none;
      white-space: nowrap;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.42857143;
      border-radius: 4px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      color: white;
        padding: .5em 1em;
        text-transform: capitalize;
        font-weight: bold;
        border: none;
      &:hover, &:focus {
        background-color: $light-yellow;
        border: none;
        outline: 0px;
      }
  }
  .verify-footer {
    margin-top: 20px;
    border-top : 1px solid $grey;
    padding-top: 15px;
    a {
      &:hover, &:focus {
        color: $yellow;
        text-decoration: none;
      }
    }
    input {
    border: 1px solid $grey;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    background-image: none;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  }
  input.parsley-error, select.parsley-error, textarea.parsley-error {
      border: 1px solid $red;
      color: $red;
      background-color: transparent;
      &:focus {
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.4);
      }
    }
    input.parsley-success, select.parsley-success, textarea.parsley-success {
      border: 1px solid $green;
      color: $green;
      background-color: transparent;
      &:focus {
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 255, 0, 0.4);
      }
    }
  }
}

#show {
  .image-fit {
    background-color: $new;
    height: 380px;
    display: table-cell;
    vertical-align: middle;
    width: 1%;
    border-radius: 6px;
    img {
      margin: auto;
    }
  }
  .r-bold {
    font-weight: bold;
    font-size: 1em;
    color: $new;
  }
  #image {
    margin-top: 20px;
  }
  .activethumb {
    border: 3px solid $yellow;
  }
  font-family: "regular";
  .show-title{
    margin-top: 15px;
    h3 {
      text-transform: capitalize;
      font-size: 1.5em;
      border-bottom : 1px solid $grey;
      overflow: hidden;
      text-overflow: ellipsis;
      color: $new;
      padding-bottom: 15px;
    }
  }
  .show-content {
    color: $new;
    .review {
      color: $blue-grey;
      font-size: .9em;
    }
    .share {
      padding-top: 5px;
    }
    .social-share-button-twitter {
      background: url("/assets/share-twitter.png");
      width: 30px;
      height: 30px;
      &:hover, &:focus, &:active {
        background: url("/assets/share-twitter-hover.png");
      }
    }
    .social-share-button-facebook {
      background: url("/assets/share-fb.png");
      width: 30px;
      height: 30px;
      &:hover, &:focus, &:active {
        background: url("/assets/share-fb-hover.png");
      }
    }
    .social-share-button-google_plus {
      background: url("/assets/share-google.png");
      width: 30px;
      height: 30px;&:hover, &:focus, &:active {
        background: url("/assets/share-google-hover.png");
      }
    }
    .social-share-button-pinterest {
      background: url("/assets/share-pin.png");
      width: 30px;
      height: 30px;
      &:hover, &:focus, &:active {
        background: url("/assets/share-pin-hover.png");
      }
    }
    .price {
      margin-top: 15px;
      font-size: 1.3em;
      color: $new;
    }
    .security {
      .block {
        display: block;
      }
    }
    .delivery {
      span {
        display: block;
      }
    }
    .city {
      text-transform: capitalize;
      span {
        display: block;
      }
    }
    .show-btn {
      text-align: center;
      .btn {
        background-color: $blue;
        color: white;
        font-family: "regular";
        border: none;
        margin-left: 5px;
        &:hover, &:focus, &:active {
          outline: none;
          background-color: $light-blue;
        }
      }
    }
  }
  .nav-pills > li > a {
    border-bottom: 2px solid $grey;
    border-radius: 0px;
    &:hover, &:focus {
      color: $blue;
    }
  }
  .nav-pills > li.active > a {
    color: $black;
    background-color: transparent;
    border-bottom: 2px solid $blue;
  }

  .tab-content {
    color: $new;
    .terms {
      span {
        display: block;
      }
    }
    .review-title {
      text-transform: capitalize;
      font-weight: 600;
      font-size: 1.1em;
    }
    i {
      font-size: 20px;
      color: $light-black;
      cursor: pointer;
    }
    .review-by {
      color: $blue-grey;
      padding-top: 10px;
      font-size: .9em;
    }
    .comment {
      padding-top: 10px;
    }
    .posted {
      margin-top: 10px;
      margin-bottom: 25px;
      color: $blue-grey;
      font-size: .9em;
    }
    .btn {
      background-color: $blue;
      color: white;
      font-family: "regular";
      border-color: $blue;
      &:hover, &:focus, &:active {
        outline: none;
        background-color: $light-blue;
      }
    }
    #home, #menu1 {
      margin-top: 9px;
    }
  }
}

#list {
  .image-fit {
    background-color: $new;
    height: 200px;
    display: table-cell;
    vertical-align: middle;
    width: 1%;
    border-radius: 6px;
    img {
      margin: auto;
    }
  }
  font-family: "regular";
  .nav-pills > li > a {
    border-bottom: 2px solid $grey;
    border-radius: 0px;
    &:hover, &:focus {
      color: $blue;
    }
  }
  .nav-pills > li.active > a {
    color: $black;
    background-color: transparent;
    border-bottom: 2px solid $blue;
  }
  .each-list {
    img {
      &:hover, &:focus {
        border: 1px solid $yellow;
      }
    }
    .title {
      color: $blue-grey;
      font-size: 1em;
      p {
        font-size: 1.4em;
        margin-bottom: 0px;
        text-transform: capitalize;
        a {
            color: $new;
            &:hover, &:focus {
              color: $yellow;
              text-decoration: none;
            }
        }
      }
      /*.date {
        margin-top: 20px;
      }*/
    }
    .pr {
      text-align: right;
    }
  }
  .pagination > li > a, .pagination > li > span {
    color: $blue;
  }
  .pagination > .disabled > span {
    color: #777;
  }
  .pagination > .active > span {
    color: #fff;
    background-color: $blue;
    border-color: $blue;
  }
}

#category-menu {
  padding: .5em 0 2.5em 0;
  ul {
    li {
      list-style: none;
      background-color: $blue;
      margin-right: 10px;
      margin-bottom: 10px;
      border-radius: 4px;
      padding: .3em .5em; 
      a {
        color: white;
      }
      &:hover, &:focus {
        background-color: $light-blue;
        a {
          text-decoration: none;
        }
      }
    }
  }
  ul > li.active {
    a {
      color: $blue-grey;
    }
    border: 1px solid $blue;
    background-color: white;
  }
}

#footer {
  border: 1px solid $grey;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  font-family: "regular";
  padding-top: 3em;
  a {
    color: $blue-grey;
  }
  .social-media a {
    display: inline-block;
    svg {
      width: 60px;
      height: 40px;
      margin: auto;
      transition: 200ms;
      transition-timing-function: ease-in-out;
      -webkit-transition: 200ms;
      -webkit-transition-timing-function: ease-in-out;
      .st0 {
        fill:$yellow;
      }
      .st1 {
        fill:white;
      }
      &:hover {
        .st0 {
          fill:$light-yellow;
        }
        .st1 {
          fill:white;
        }
      }
    }
  }
  .footer-links {
    li {
      display: inline;
      list-style-type: none;
      padding-left: 10px;
      padding-right: 10px;
      text-transform: capitalize;
      font-size: .9em;
      a:hover, a:focus {
        color: $yellow;
        text-decoration: none;
      }
    }
  }
  .copyright {
    padding: 1em 0;
    background-image: url("blur.jpg");
    background-size: cover;
    background-color: $new;
    .logo {
      padding-bottom: .5em;
      a {
        font-size: 1.15em;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: white;
        span {
          font-family: "hightide";
          font-weight: 300;
          color: $yellow;
          margin-right: -6px;
          font-size: 1.1em;
        }
        &:hover, &:focus {
          color: white;
          text-decoration: none;
        } 
      }
    }
    p {
      color: white;
      font-size: 0.8em;
    }
  }

  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }
}

#notification {
  margin-top: 6px;
  .btn-default {
    color: $blue-grey;
    &:hover, &:focus, &:active {
      background-color: white;
    }
  }
  .btn .badge {
    top: -10px;
    background-color: $blue;
  }

  .btn-default:active:hover, .btn-default:active:focus, .btn-default:active.focus, .btn-default.active:hover, .btn-default.active:focus, .btn-default.active.focus, .open > .btn-default.dropdown-toggle:hover, .open > .btn-default.dropdown-toggle:focus, .open > .btn-default.dropdown-toggle.focus {
    background-color: white;
    border-color: white;
    outline: none;
  }

  .dropdown-header {
    text-transform: capitalize;
    font-size: 1em;
    border-bottom : 1px solid $grey;
    color:$blue;
    padding: .5em 0 .7em 0;
  }

  .dropdown-menu .view a {
    border-bottom: none;
    padding: .7em 0 .7em 0;
    color: $new;
  }

  .notification-dropdown {
    margin-top: 4px;
    button {
      border: none;
    }
  }

  .dropdown-menu li {
    width: 25em;
  }
  .dropdown-menu li a {
    padding: 10px 0 10px 0;
    margin: 0 20px 0 20px;
    border-bottom: 1px solid $grey; 
    white-space: normal;
    color: $new;
    .time {
      display: block;
      font-size: .8em;
      color: $blue-grey;
      text-transform: lowercase;
    }
    &:hover, &:focus {
      background-color: transparent;
    }
  }
  .dropdown-menu .no {
    padding: 10px 0 10px 0;
    margin: 0 20px 0 20px;
    white-space: normal;
    color: $new;
    text-transform: capitalize;
  }

  .dropdown-menu .unread {
    background-color: $new;
    a {
      color: white;
      &:hover, &:focus {
        background-color: $new;
      }
    }
  }

  .glyphicon-bell {
    font-size: 1.2em;
  }
}

#notification-list {
  .title{
    p {
      text-transform: capitalize;
      margin-bottom: 20px;
      padding-bottom: 15px;
      font-size: 1.75em;
      border-bottom : 1px solid $grey;
      color:$blue;
    }
  }
  .each a .row {
    padding: 10px 0 10px 0;
    margin: 0 20px 0 20px;
    text-transform: capitalize;
    color: $new;
    .time {
      display: block;
      font-size: .8em;
      color: $blue-grey;
      text-transform: lowercase;
    }
    &:hover, &:focus {
      background-color: $grey;
    }
  }
}

.ads-section {
    background-color: $grey;
  }

