
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require parsley
 *= require material_icons
 *= require social-share-button
 *= require_self
 *= require jquery-ui
 */

@import "bootstrap-sprockets";
@import "bootstrap";

@import 'grid-ms';
@import 'media';

@import 'normalize';


$yellow: #FFCD33;
$black: #1A1A1A;
$light-black: #808080;
$light-yellow: #FFE066;
$blue: #2AB9C7;
$light-blue: #43E0E8;
$grey: #E6E6E6;
$light-grey: #EEEEEE;
$red: #a94442;
$red-border: #ebccd1;
$green: #3c763d;
$green-border: #D6E9C6;
$links: #337AB7;
$new: #474e5d;


@font-face {
  font-family: "hightide";
  src: url(/assets/HighTide.otf) format("truetype");
}

@font-face {
  font-family: "raleway-medium";
  src: url(/assets/Raleway-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "raleway-regular";
  src: url(/assets/Raleway-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "raleway-bold";
  src: url(/assets/Raleway-Bold.ttf) format("truetype");
}

html {
  position: relative;
  min-height: 100%;
}

body, a {
  color: $black;
}

.bread {
  font-family: "raleway-medium";
  a:hover, a:focus {
    color: $yellow;
    text-decoration: none;
  }
}

.foot-space {
  margin-bottom: 30px;
}

ul#ui-id-1.ui-autocomplete.ui-front.ui-menu.ui-widget.ui-widget-content{
  li {
    font-family: "raleway-medium";
    color: $black;
  }
  .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
      color: #ffffff;
      background-color: $blue !important;
      background: transparent;
      border: none;
  }
}

ul#ui-id-2.ui-autocomplete.ui-front.ui-menu.ui-widget.ui-widget-content{
  li {
    font-family: "raleway-medium";
    color: $black;
  }
  .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
      color: #ffffff;
      background-color: $blue !important;
      background: transparent;
      border: none;
  }
}

#navbar-customise {
  background-color: white;
  border-color: $grey;
  text-transform: uppercase;
  font-family: "raleway-medium";
  .navbar-brand a {
    font-size: 18.5px;
    letter-spacing: 0.1em;
    .logo {
      font-family: "hightide";
      color: $yellow;
      font-size: 20.5px;
      letter-spacing: 0em;
      }
    &:hover, &:focus {
      color: $black;
      text-decoration: none;
    } 
  }
  .navbar-nav li a {
    padding-top: 10px;
    padding-bottom: 10px;
  } 
  .navbar-right {
    margin-top: 5px;
    a {
    color: $black;
    letter-spacing: 0.1em;
    font-size: 13px;
    outline: none;
    }
   } 
  .nav-others a:hover, .nav-others a:focus {
    color: $yellow;
    }
  .post {
    background-color: $yellow;
    &:hover, &:focus {
      background-color: $light-yellow;
    }
  }
}

#search-section {
  font-family: "raleway-regular";
  text-align: center;
  padding-bottom: 1.5em;
  .form-group {
    position: relative;
    input {
     text-indent: 20px;
    }
    .form-control {
      border-radius: 0px;
      margin-right: -4px;
      border: 1px solid $grey;
      color: $black;
    }
    .material-icons {
      position: absolute;
      top: 8px;
      left: 10px;
      color: $black;
    }
    select {
    background: url(down_arrow.png) no-repeat right;
    appearance:none;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    cursor: pointer;
    }
  }
  .btn {
    border-radius: 0px;
    background-color: $blue;
    color: white;
    font-family: "raleway-medium";
    border-color: $blue;
    &:hover, &:focus, &:active {
      outline: none;
      background-color: $light-blue;
    }
  }
}

#flash-section {
  font-family: "raleway-medium";
}

#category-section {
  .panel-footer, .panel-heading {
    border-color: $grey;
    background-color: transparent;
    color: $black;
  }
  .panel-heading a {
    font-family: "raleway-medium";
  }
  .panel-body {
    padding: 0px;
  }
  .panel-footer p {
    font-family: "raleway-regular";
    margin: 0px;
    font-size: 13px;
  }
  .panel-default:hover, .panel-default:focus {
      border-color: $yellow;
      box-shadow: 4px 4px 10px $light-black;
      .panel-heading {
        border-color: $yellow;
        a {
          color: $yellow;
          text-decoration: none;
        }
      }
      .panel-footer {
        border-color: $yellow;
      }
      .panel-footer a:hover, .panel-footer a:focus{
        color: $yellow;
        text-decoration: none;
      }
  }
  .ads-section {
    background-color: $grey;
  }
}

.content {
  margin-top: 5em;
}

#sign_up, #sign_in, #forgot {
  font-family: "raleway-medium";
  .sign-up-title, .sign-in-title , .forgot-title{
    text-align: center;
    p {
      text-transform: uppercase;
      margin-bottom: 20px;
      padding-top: 10px;
      padding-bottom: 15px;
      font-size: 16px;
      letter-spacing: 0.1em;
      border-bottom : 1px solid $grey;
      color:$blue;
    }
  }
  .sign-up-content, .sign-in-content {
    .form-control {
      border: 1px solid $grey;
    }
    abbr[title], acronym[title] {
      border-bottom: none;
      text-decoration: none;
    }
    .help-block {
      margin-left: 8px;
    } 
    .parsley-errors-list {
      margin-left: 8px;
      padding-top: 3px;
      li {
        color: $red;
      }
    }
    button.hideShowPassword-toggle.hideShowPassword-toggle-show , button.hideShowPassword-toggle.hideShowPassword-toggle-hide {
      background-color: transparent;
      border: none;
      font-size: 15px;
      text-transform: lowercase;
      font-variant: small-caps;
      outline: 0px;
    }
    input:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px white inset;
    }
    input.parsley-error, select.parsley-error, textarea.parsley-error {
      border: 1px solid $red;
      color: $red;
      background-color: transparent;
      &:focus {
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.4);
      }
    }
    input.parsley-success, select.parsley-success, textarea.parsley-success {
      border: 1px solid $green;
      color: $green;
      background-color: transparent;
      &:focus {
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 255, 0, 0.4);
      }
    }
    .form-action {
      .btn {
        color: $black;
        background-color: $yellow;
        padding-left: 3em;
        padding-right: 3em;
        border: none;
        &:hover, &:focus {
          background-color: $light-yellow;
          border: none;
          outline: 0px;
        }
      }
    }
    .terms {
      text-align: center;
      font-size: 12px;
      padding-top: 10px;
      a {
        color: $yellow;
      }
    }
  }
  .forgot-content {
    .form-control {
      border: 1px solid $grey;
    }
    abbr[title], acronym[title] {
      border-bottom: none;
      text-decoration: none;
    }
    .help-block {
      margin-left: 8px;
    } 
    .parsley-errors-list {
      margin-left: 8px;
      padding-top: 3px;
      li {
        color: $red;
      }
    }
    input:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px white inset;
    }
    input.parsley-error, select.parsley-error, textarea.parsley-error {
      border: 1px solid $red;
      color: $red;
      background-color: transparent;
      &:focus {
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.4);
      }
    }
    input.parsley-success, select.parsley-success, textarea.parsley-success {
      border: 1px solid $green;
      color: $green;
      background-color: transparent;
      &:focus {
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 255, 0, 0.4);
      }
    }
    .form-action {
      .btn {
        color: $black;
        background-color: $yellow;
        padding-left: 0.5em;
        padding-right: 0.5em;
        border: none;
        &:hover, &:focus {
          background-color: $light-yellow;
          border: none;
          outline: 0px;
        }
      }
    }
  }
  .sign-up-footer {
    text-align: center;
    a {
      display: block;
      margin-top: 10px;
      border-top : 1px solid $grey;
      padding-top: 15px;
      &:hover, &:focus {
        color: $yellow;
        text-decoration: none;
      }
    }

  }
  .sign-in-footer, .forgot-footer {
    text-align: center;
    margin-top: 20px;
    border-top : 1px solid $grey;
    padding-top: 15px;
    a {
      &:hover, &:focus {
        color: $yellow;
        text-decoration: none;
      }
    }
  }
}

#edit {
  font-family: "raleway-medium";
  .edit-title{
    margin-top: 15px;
    p {
      text-transform: uppercase;
      margin-bottom: 20px;
      padding-top: 10px;
      padding-bottom: 15px;
      font-size: 16px;
      letter-spacing: 0.1em;
      border-bottom : 1px solid $grey;
      color:$blue;
      font-weight: bold;
    }
  }
  .edit-content {
    .form-control {
      border: 1px solid $grey;
    }
    abbr[title], acronym[title] {
      display: none;
    }
    .help-block {
      margin-left: 8px;
    } 
    .parsley-errors-list {
      margin-left: 8px;
      padding-top: 3px;
      li {
        color: $red;
      }
    }
    label {
      font-weight: normal;
    }
    button.hideShowPassword-toggle.hideShowPassword-toggle-show , button.hideShowPassword-toggle.hideShowPassword-toggle-hide {
      background-color: transparent;
      border: none;
      font-size: 15px;
      text-transform: lowercase;
      font-variant: small-caps;
      outline: 0px;
    }
    input:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px white inset;
    }
    input.parsley-error, select.parsley-error, textarea.parsley-error {
      border: 1px solid $red;
      color: $red;
      background-color: transparent;
      &:focus {
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.4);
      }
    }
    input.parsley-success, select.parsley-success, textarea.parsley-success {
      border: 1px solid $green;
      color: $green;
      background-color: transparent;
      &:focus {
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 255, 0, 0.4);
      }
    }
    .form-action {
      .btn {
        color: $black;
        background-color: $yellow;
        padding-left: 3em;
        padding-right: 3em;
        border: none;
        &:hover, &:focus {
          background-color: $light-yellow;
          border: none;
          outline: 0px;
        }
      }
    }
  }
  .edit-footer {
    margin-top: 20px;
    border-top : 1px solid $grey;
    padding-top: 15px;
    a {
      &:hover, &:focus {
        color: $yellow;
        text-decoration: none;
      }
    }
  }
}

#rent {
  font-family: "raleway-medium";
  .rent-title{
    margin-top: 15px;
    p {
      text-transform: uppercase;
      margin-bottom: 20px;
      padding-top: 10px;
      padding-bottom: 15px;
      font-size: 16px;
      letter-spacing: 0.1em;
      border-bottom : 1px solid $grey;
      color:$blue;
      font-weight: bold;
    }
  }
  .rent-content {
    .well {
      background-color: transparent;
      border-color: $light-grey;
    }
    .form-control {
      border: 1px solid $grey;
    }
    .add_fields {
      background-color: $blue;
      color: white;
      font-family: "raleway-medium";
      border-color: $blue;
      &:hover {
        outline: none;
        background-color: $light-blue;
      }
    }
    select {
      background: url(down_arrow.png) no-repeat right;
      appearance:none;
      -moz-appearance:none; /* Firefox */
      -webkit-appearance:none; /* Safari and Chrome */
      cursor: pointer;
    }
    abbr[title], acronym[title] {
      display: none;
    }
    label.required:after{content:"*"}
    p.required:after{content:"*"}
    .help-block {
      margin-left: 8px;
    } 
    .parsley-errors-list {
      margin-left: 8px;
      padding-top: 3px;
      li {
        color: $red;
      }
    }
    label {
      font-weight: normal;
    }
    .radio-style {
      label {
        padding-left: 3px;
        padding-right: 15px;
      }
    }
    #security-amount {
      display: none;
    }
    #parsley-id-multiple-listingsecurity {
      margin-top: -20px;
      margin-bottom: 15px;
    }
    input:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px white inset;
    }
    input.parsley-error, select.parsley-error, textarea.parsley-error {
      border: 1px solid $red;
      color: $red;
      background-color: transparent;
      &:focus {
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.4);
      }
    }
    input.parsley-success, select.parsley-success, textarea.parsley-success {
      border: 1px solid $green;
      color: $green;
      background-color: transparent;
      &:focus {
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 255, 0, 0.4);
      }
    }
    .post {
      color: $black;
      background-color: $yellow;
      padding-left: 2em;
      padding-right: 2em;
      border: none;
      &:hover, &:focus {
        background-color: $light-yellow;
        border: none;
        outline: 0px;
      }
    }
    .price-div {
      .time {
        visibility: hidden;
      }
      .price-input {
        padding-right: 0px;
        .form-control {
          border-top-right-radius: 0px;
          border-bottom-right-radius: 0px;
        }
      }
      .p-input {
        padding-right: 0px;
        padding-left: 0px;
        .form-control {
          border-radius: 0px;
          text-align: center;
          background-color: $grey;
        }
      }
      .per-input {
        padding-left: 0px;
        .form-control {
          border-top-left-radius: 0px;
          border-bottom-left-radius: 0px;
        }
      }
    }
  }
  .rent-footer {
    margin-top: 20px;
    border-top : 1px solid $grey;
    padding-top: 15px;
    a {
      &:hover, &:focus {
        color: $yellow;
        text-decoration: none;
      }
    }
  }
}

#verify-section {
  font-family: "raleway-medium";
  h3 {
    display: none;
  }
  .verify-title{
    margin-top: 15px;
    p {
      text-transform: uppercase;
      margin-bottom: 20px;
      padding-top: 10px;
      padding-bottom: 15px;
      font-size: 16px;
      letter-spacing: 0.1em;
      border-bottom : 1px solid $grey;
      color:$blue;
      font-weight: bold;
    }
  }
  a {
    text-decoration: underline;
    &:hover, &:focus {
      color: $yellow;
      text-decoration: underline;
    }
  }
  .help-block {
    margin-left: 8px;
  } 
  .parsley-errors-list {
      margin-left: 8px;
      padding-top: 3px;
      li {
        color: $red;
      }
    }
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
  }
  button {
      color: $black;
      background-color: $yellow;
      padding-left: 3em;
      padding-right: 3em;
      border: none;
      display: inline-block;
      margin-bottom: 5px;
      font-weight: normal;
      text-align: center;
      vertical-align: middle;
      touch-action: manipulation;
      cursor: pointer;
      background-image: none;
      white-space: nowrap;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.42857143;
      border-radius: 4px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      &:hover, &:focus {
        background-color: $light-yellow;
        border: none;
        outline: 0px;
      }
  }
  .verify-footer {
    margin-top: 20px;
    border-top : 1px solid $grey;
    padding-top: 15px;
    a {
      &:hover, &:focus {
        color: $yellow;
        text-decoration: none;
      }
    }
    input {
    border: 1px solid $grey;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    background-image: none;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  }
  input.parsley-error, select.parsley-error, textarea.parsley-error {
      border: 1px solid $red;
      color: $red;
      background-color: transparent;
      &:focus {
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.4);
      }
    }
    input.parsley-success, select.parsley-success, textarea.parsley-success {
      border: 1px solid $green;
      color: $green;
      background-color: transparent;
      &:focus {
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 255, 0, 0.4);
      }
    }
  }
}

#show {
  .r-bold {
    font-weight: 600;
  }
  #image {
    margin-top: 20px;
  }
/*  .thumb{
    float:left;
    margin-right:10px;
    margin-top:10px;
    width: 80px;
    &:hover, &:focus, &:active {
      border: 3px solid $yellow;
    }
  }*/
  .activethumb {
    border: 3px solid $yellow;
  }
  font-family: "raleway-medium";
  .show-title{
    margin-top: 15px;
    p {
      text-transform: capitalize;
      padding-top: 10px;
      padding-bottom: 15px;
      font-size: 16px;
      letter-spacing: 0.1em;
      border-bottom : 1px solid $grey;
      font-weight: bold;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .show-content {
    .share {
      padding-top: 5px;
    }
    .social-share-button-twitter {
      background: url("/assets/share-twitter.png");
      width: 30px;
      height: 30px;
      &:hover, &:focus, &:active {
        background: url("/assets/share-twitter-hover.png");
      }
    }
    .social-share-button-facebook {
      background: url("/assets/share-fb.png");
      width: 30px;
      height: 30px;
      &:hover, &:focus, &:active {
        background: url("/assets/share-fb-hover.png");
      }
    }
    .social-share-button-google_plus {
      background: url("/assets/share-google.png");
      width: 30px;
      height: 30px;&:hover, &:focus, &:active {
        background: url("/assets/share-google-hover.png");
      }
    }
    .social-share-button-pinterest {
      background: url("/assets/share-pin.png");
      width: 30px;
      height: 30px;
      &:hover, &:focus, &:active {
        background: url("/assets/share-pin-hover.png");
      }
    }
    .price {
      margin-top: 15px;
      .number {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      }
      .block {
        display: block;
      }
    }
    .security {
      .number {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      }
      .block {
        display: block;
      }
    }
    .delivery {
      span {
        display: block;
      }
    }
    .city {
      text-transform: capitalize;
      span {
        display: block;
      }
    }
    .show-btn {
      text-align: center;
      .btn {
        background-color: $blue;
        color: white;
        font-family: "raleway-medium";
        border-color: $blue;
        margin-left: 5px;
        &:hover, &:focus, &:active {
          outline: none;
          background-color: $light-blue;
        }
      }
    }
  }
  .nav-pills > li > a {
    border-bottom: 2px solid $grey;
    border-radius: 0px;
    &:hover, &:focus {
      color: $blue;
    }
  }
  .nav-pills > li.active > a {
    color: $black;
    background-color: transparent;
    border-bottom: 2px solid $blue;
  }

  .tab-content {
    .terms {
      span {
        display: block;
      }
    }
    .review-title {
      text-transform: capitalize;
      font-weight: 600;
    }
    i {
      font-size: 20px;
      color: $light-black;
      cursor: pointer;
    }
    .review-by {
      color: $light-black;
      padding-top: 10px;
      font-size: 13px;
    }
    .comment {
      padding-top: 10px;
    }
    .posted {
      margin-top: 10px;
      margin-bottom: 25px;
      color: $light-black;
      font-size: 13px;
    }
    .btn {
      background-color: $blue;
      color: white;
      font-family: "raleway-medium";
      border-color: $blue;
      &:hover, &:focus, &:active {
        outline: none;
        background-color: $light-blue;
      }
    }
    #home, #menu1 {
      margin-top: 9px;
    }
  }
}

#footer {
  border: 1px solid $grey;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  font-family: "raleway-medium";
  padding-top: 2em;
  a {
    color: $black;
  }
  .social-media a {
    display: inline-block;
    svg {
      width: 60px;
      height: 40px;
      margin: auto;
      transition: 200ms;
      transition-timing-function: ease-in-out;
      -webkit-transition: 200ms;
      -webkit-transition-timing-function: ease-in-out;
      .st0 {
        fill:$yellow;
      }
      .st1 {
        fill:white;
      }
      &:hover {
        .st0 {
          fill:$light-yellow;
        }
        .st1 {
          fill:white;
        }
      }
    }
  }
  .footer-links {
    li {
      display: inline;
      list-style-type: none;
      padding-left: 10px;
      padding-right: 10px;
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 0.1em;
      a:hover, a:focus {
        color: $yellow;
        text-decoration: none;
      }
    }
  }
  .copyright {
    background-color: $black;
    p {
      padding-top: 15px;
      padding-bottom: 5px;
      color: white;
      font-size: 11px;
    }
  }

}

