/* Custom, iPhone Retina */ 
$yellow: #FFCD33;
$black: #1A1A1A;
$light-black: #808080;
$light-yellow: #FFE066;
$blue: #A9BEEF;
$light-blue: #BED1F4;
$grey: #EEEEEE;

@media only screen and (min-width : 320px) and (max-width : 359px) {

  #navbar-customise {
    .navbar-toggle {
      border-color: $blue;
      &:hover, &:focus {
        background-color: $blue;
        .icon-bar {
        background-color: white;
        }
      } 
      .icon-bar {
        background-color: $blue;
      }
    }
  }

  #search-section {
    .btn {
      width: 100%;
    }
  }

  #category-section {
    .pright {
      padding-right: 0px;
    }
    .pleft {
      padding-left: 0px;
    }
    .panel-heading {
      padding: 10px 2px;
      a {
        font-size: 10.5px;
      }
    }
    .panel-footer {
      padding: 10px 4px;
      a {
        font-size: 10.2px;
      }
    }
  }

}

@media only screen and (min-width : 360px) and (max-width : 479px) {

  #navbar-customise {
    .navbar-toggle {
      border-color: $blue;
      &:hover, &:focus {
        background-color: $blue;
        .icon-bar {
        background-color: white;
        }
      } 
      .icon-bar {
        background-color: $blue;
      }
    }
  }

  #search-section {
    .btn {
      width: 100%;
    }
  }

  #category-section {
    .pright {
      padding-right: 0px;
    }
    .pleft {
      padding-left: 0px;
    }
    .panel-heading {
      padding: 10px 2px;
      a {
        font-size: 12px;
      }
    }
    .panel-footer {
      padding: 10px 4px;
      a {
        font-size: 11.5px;
      }
    }
  }

}

/* (320x480) Smartphone, Portrait */
@media only screen and (device-width: 320px) and (orientation: portrait) {
    /* insert styles here */
}
 
/* (320x480) Smartphone, Landscape */
@media only screen and (device-width: 480px) and (orientation: landscape) {
    /* insert styles here */
    #category-section {
      .rfix-320 a {
        font-size: 13.8px;
      }
    }
}

 /* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) and (max-width : 767px) {

  .container {
    width: 100%;
  }
  #navbar-customise {
    .navbar-toggle {
      border-color: $blue;
      &:hover, &:focus {
        background-color: $blue;
        .icon-bar {
        background-color: white;
        }
      } 
      .icon-bar {
        background-color: $blue;
      }
    }
  }

  #search-section {
    .btn {
      width: 100%;
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) and (max-width : 815px) {

  .container {
    width: 100%;
  }
  #navbar-customise {
    .navbar-header {
      float: none;
    }
    .navbar-left,.navbar-right {
      float: none !important;
    }
    .navbar-toggle {
      display: block;
    }
    .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 $grey;
    }
    .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
      display: none!important;
    }
    .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
    }
    .navbar-nav>li {
      float: none;
    }
    .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .collapse.in{
      display:block !important;
    }

    .navbar-toggle {
      border-color: $blue;
      margin-left: auto;
      margin-right: auto;
      &:hover, &:focus {
        background-color: $blue;
        .icon-bar {
        background-color: white;
        }
      } 
      .icon-bar {
        background-color: $blue;
      }
    }

    .post {
      border-radius: 0.8em;
    }
  }

  #search-section {
    select { 
      width: 275px;
    }
  }

}

@media only screen and (min-width : 816px) and (max-width : 991px) {

  .container {
    width: 100%;
  }
  #navbar-customise {
    .navbar-header {
      float: none;
    }
    .navbar-left,.navbar-right {
      float: none !important;
    }
    .navbar-toggle {
      display: block;
    }
    .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 $grey;
    }
    .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
      display: none!important;
    }
    .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
    }
    .navbar-nav>li {
      float: none;
    }
    .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .collapse.in{
      display:block !important;
    }

    .navbar-toggle {
      border-color: $blue;
      margin-left: auto;
      margin-right: auto;
      &:hover, &:focus {
        background-color: $blue;
        .icon-bar {
        background-color: white;
        }
      } 
      .icon-bar {
        background-color: $blue;
      }
    }

    .post {
      border-radius: 0.8em;
    }
  }

  #search-section {
    select { 
      width: 275px;
    }
  }

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

  .container {
    width: 100%;
  }

  #navbar-customise {
    .post {
      border-radius: 0.8em;
    }
  }

  #search-section {
    select { 
      width: 275px;
    }
  }

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

  #navbar-customise {
    .post {
      border-radius: 0.8em;
    }
  }

  #search-section {
    select { 
      width: 275px;
    }
  }


}