= simple_form_for [@listing, @review] do |f|
	.form-group
		#star-rating

	.form-group
		= f.input :title, input_html: { class: 'form-control' }

	.form-group
		= f.input :comment, input_html: { class: 'form-control' }

	= f.button :submit, ( f.object.new_record? ? "Write a Review" : "Update a Review"), class: "btn btn-primary"

%script
	$('#star-rating').raty({
	path: '/assets/',
	scoreName: 'review[rating]'
	});
