<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Your product <%= @listing_title %> has got a new review from <%= @review_user %></p>

  </body>
</html>