<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= @review_user %> has modified their review on your product <%= @listing_title %></p>

  </body>
</html>